.btn_social,
.close_page{
      width: 40px;
      height: 40px;
      background: var(--dark-500);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .2s;
}

.btn_social *{
      color: var(--theme);
      font-size: 1.8rem;
}

.btn_social:hover *{
      color: var(--light);
}

.close_page{
      position: absolute;
      top: 1rem;
      right: 1rem;
}

.close_page *{
      font-size: 1.6rem;
      color: var(--second);
}
